@model CrearTableroViewModel
<h3>Crear Tablero</h3>

<section class="formu">
<form asp-controller="Tablero" asp-action="CrearTablero" class="form-logger">
    <input asp-for="@Model.IdUsuariPropietario" type="hidden" />
    <section class="mb-3">
        <label asp-for="@Model.Nombre" class="form-label"></label>
        <input asp-for="@Model.Nombre" class="form-control"/>
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    </section>
    <section class="mb-3">
        <label asp-for="@Model.Descripcion" class="form-label"></label>
        <input asp-for="@Model.Descripcion" class="form-control"/>
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
    </section>
    <button type="submit" class="btn btn-success">Agregar</button>
</form>
</section>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}