@model ListaTablerosViewModel
<H3>Listado de Tableros</H3>
@if(Model.Admin){
    <table class="table table-active table-striped table-sm text-center">
    <legend>Tableros</legend>
    <thead>
        <tr>
            <th scope="col">Usuario Propietario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Tareas</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tab in Model.ListaTabTodos)
        {
            <tr>
                <td scope="row">@tab.Usuario</td>
                <td>@tab.Nombre</td>
                <td>@tab.Descripcion</td>
                <td>
                    <p><a asp-controller="Tarea" asp-action="ListarTareasTablero" asp-route-id="@tab.Id">Lista De Tareas</a></p>
                    <p><a asp-controller="Tarea" asp-action="CrearTarea" asp-route-id="@tab.Id">Crear Tarea</a></p>
                </td>
                <td>
                    <p><a asp-controller="Tablero" asp-action="ModificarTablero" asp-route-id="@tab.Id">Editar</a></p>
                    <p><a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-id="@tab.Id">Eliminar</a></p>
                </td>
            </tr>
        }
    </tbody>
</table>
}else{
    @if(Model.ListaTabPropios.Count>0){
        <table class="table table-active table-striped table-sm text-center">
        <legend>Tus Tableros</legend>
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Tareas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tab in Model.ListaTabPropios)
            {
                <tr>
                    <td scope="row">@tab.Nombre</td>
                    <td>@tab.Descripcion</td>
                    <td>
                        <p><a asp-controller="Tarea" asp-action="ListarTareasTablero" asp-route-id="@tab.Id">Lista De Tareas</a></p>
                        <p><a asp-controller="Tarea" asp-action="CrearTarea" asp-route-id="@tab.Id">Crear Tarea</a></p>
                    </td>
                    <td>
                        <p><a asp-controller="Tablero" asp-action="ModificarTablero" asp-route-id="@tab.Id">Editar</a></p>
                        <p><a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-id="@tab.Id">Eliminar</a></p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }else{
        <h5>Tus Tableros</h5>
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    @await Html.PartialAsync("ErrorLista")
                </div>
            </div>
        </div>
    }
    

@if(Model.ListaTabNoPropios.Count>0){
    <table class="table table-active table-striped table-sm text-center">
        <legend>Tableros en donde tienes tareas</legend>
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Usuario Propietario</th>
                <th scope="col">Tareas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tab in Model.ListaTabNoPropios)
            {
                <tr>
                    <td scope="row">@tab.Nombre</td>
                    <td>@tab.Descripcion</td>
                    <td>@tab.Usuario</td>
                    <td>
                        <a asp-controller="Tarea" asp-action="ListarTareasTablero" asp-route-id="@tab.Id">Lista De Tareas</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else{
        <h5>Tableros en donde tienes tareas</h5>
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    @Html.Partial("../Tarea/ErrorListaUsuario");
                </div>
            </div>
        </div>
    }
}



@section Scripts{<partial name="_ValidationScriptsPartial"/>}