@model TableroViewModel

<h3>Modificar Tablero</h3>

<div>
    <p>desea modificar este tablero: @Model.Nombre, @Model.Descripcion ?</p>
</div>
<form asp-controller="Tablero" asp-action="ModificarTablero" class="form-logger">
    <input asp-for="@Model.Id" type="hidden">
    <input asp-for="@Model.IdUsuariPropietario" type="hidden"/>
    <label asp-for="@Model.Nombre"></label>
    <input asp-for="@Model.Nombre" />
    <label asp-for="@Model.Descripcion"></label>
    <input asp-for="@Model.Descripcion" />
    <button type="submit" class="btn btn-primary" onclick="return confirm('estas seguro de cambiar este tablero?')">Actualizar</button>
    <a asp-controller="Tablero" asp-action="ListarTableros" class="btn btn-primary">Cancelar</a>
</form>


@section Scripts{<partial name="_ValidationScriptsPartial"/>}