@model login
<h1 class="text-center">Kanban</h1>
<section>
    <article>
        <form asp-controller="Login" asp-action="ComprobarUsuario" class="form-logger">
            <section class="mb-3">
                <label asp-for="@Model.Nombre" class="form-label"></label>
                <input asp-for="@Model.Nombre" class="form-control">
                <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
            </section>
            <section class="mb-3">
                <label asp-for="@Model.Contrasenia" class="form-label"></label>
                <input asp-for="@Model.Contrasenia" type="password" class="form-control">
                <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span>
            </section>
            <input type="submit" value="Entrar" class="btn btn-outline-info">
        </form>
    </article>
</section>
