@model ListarTareasViewModel
<H3>Listado de tus Tareas</H3>
<table class="table table-active table-striped table-sm text-center">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Usuario</th>
            <th scope="col">Estado</th>
            <th scope="col">Cambiar Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tar in Model.ListaTar)
        {
            <tr>
                <td scope="row" class="@tar.Color">@tar.Nombre</td>
                <td>@tar.Descripcion</td>
                <td>@tar.Nombre_usuario</td>
                <td>@tar.Estado</td>
                <td>
                    <a asp-controller="Tarea" asp-action="CambiarEstado" asp-route-id="@tar.Id">
                        <button type="button" class="btn btn-outline-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
                                <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                            </svg>
                            Cambiar Estado
                        </button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}