@model ListarTareasViewModel
<H3>Listado de tus Tareas</H3>
<table class="table table-active table-striped table-sm text-center">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Color</th>
            <th scope="col">Usuario</th>
            <th scope="col">Estado</th>
            <th scope="col">Cambiar Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tar in Model.ListaTar)
        {
            <tr>
                <td scope="row">@tar.Nombre</td>
                <td>@tar.Descripcion</td>
                <td>@tar.Color</td>
                <td>@tar.Nombre_usuario</td>
                <td>@tar.Estado</td>
                <td>
                    <a asp-controller="Tarea" asp-action="CambiarEstado" asp-route-id="@tar.Id">Cambiar Estado</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}