@model TareaViewModel

<h3>Modificar Tarea</h3>

<div>
    <p>desea modificar esta tarea: @Model.Nombre, @Model.Descripcion ?</p>
</div>

<section class="formu">
<form asp-controller="Tarea" asp-action="ModificarTarea" class="form-logger">
    <input asp-for="Id" type="hidden">
    <section class="mb-3">
        <label asp-for="@Model.Nombre" class="form-label"></label>
        <input asp-for="@Model.Nombre" class="form-control"/>
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    </section>
    <section class="mb-3">
        <label asp-for="@Model.Descripcion" class="form-label"></label>
        <input asp-for="@Model.Descripcion" class="form-control"/>
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
    </section>
    <section class="mb-3">
        <label asp-for="@Model.Color" class="form-label">Urgencia</label>
        <select asp-for="@Model.Color" class="form-control">
            <option value="">Seleccione un nivel</option>
            <option value="Verde">Baja</option>
            <option value="Amarillo">Media</option>
            <option value="Rojo">Alta</option>
        </select>
        <span asp-validation-for="@Model.Color" class="text-danger"></span>
    </section>
    <section class="mb-3">
        <label asp-for="@Model.Estado" class="form-label"></label>
        <select asp-for="@Model.Estado" class="form-control" asp-items="Html.GetEnumSelectList<EstadoTarea>()">
            <option value="">Seleccione un estado</option>
        </select>
        <span asp-validation-for="@Model.Estado" class="text-danger"></span>
    </section>
    <section class="mb-3">
        <label asp-for="@Model.Usuario_asignado" class="form-label"></label>
        <select asp-for="@Model.Usuario_asignado" class="form-control">
            <option value="">Seleccione un Usuario</option>
            @if(Model.Lista != null && Model.Lista.Any()) {
                @foreach(var item in Model.Lista){
                    <option value="@item.Id">@item.NombreDeUsuario</option>
                }
            }
        </select>
        <span asp-validation-for="@Model.Usuario_asignado" class="text-danger"></span>
    </section>
    <input asp-for="@Model.IdTablero" type="hidden"/>
    <input asp-for="@Model.Lista" type="hidden"/>
    <button type="submit" class="btn btn-primary" >Actualizar</button>
    <a asp-controller="Tarea" asp-action="ListarTareasTablero" class="btn btn-primary" asp-route-id="@Model.IdTablero">Cancelar</a>
</form>
</section>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}