@model TareaViewModel

<h3>Modificar Tarea</h3>

<div>
    <p>desea modificar esta tarea: @Model.Nombre, @Model.Descripcion ?</p>
</div>
<form asp-controller="Tarea" asp-action="ModificarTarea">
    <input asp-for="Id" type="hidden">
    <label asp-for="Nombre"></label>
    <input asp-for="@Model.Nombre" />
    <label asp-for="Descripcion"></label>
    <input asp-for="@Model.Descripcion" />
    <label asp-for="Color"></label>
    <select asp-for="@Model.Color">
        <option value="">Seleccione un color</option>
        <option value="Azul">Azul</option>
        <option value="Verde">Verde</option>
        <option value="Amarillo">Amarillo</option>
        <option value="Rojo">Rojo</option>
        <option value="Negro">Negro</option>
    </select>
    <label asp-for="Estado"></label>
    <select asp-for="@Model.Estado" asp-items="Html.GetEnumSelectList<EstadoTarea>()">
        <option value="">Seleccione un estado</option>
    </select>
    <label asp-for="@Model.Usuario_asignado"></label>
    <select asp-for="@Model.Usuario_asignado">
        <option value="">Seleccione un Usuario</option>
        @if(Model.Lista != null && Model.Lista.Any()) {
            @foreach(var item in Model.Lista){
                <option value="@item.Id">@item.NombreDeUsuario</option>
            }
        }
    </select>
    <input asp-for="@Model.IdTablero" type="hidden"/>
    <input asp-for="@Model.Lista" type="hidden"/>
    <button type="submit" class="btn btn-primary" onclick="return confirm('estas seguro de cambiar esta tarea?')">Actualizar</button>
    <a asp-controller="Tarea" asp-action="ListarTareasTablero" class="btn btn-primary" asp-route-id="@Model.IdTablero">Cancelar</a>
</form>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}