@model UsuarioViewModel
<h3>Crear Usuario</h3>

<form asp-controller="Usuario" asp-action="CrearUsuario" class="form-logger">
    <label asp-for="@Model.NombreDeUsuario"></label>
    <input asp-for="@Model.NombreDeUsuario" />
    <span asp-validation-for="@Model.NombreDeUsuario" class="text-danger"></span>
    <label asp-for="@Model.Contrasenia"></label>
    <input asp-for="@Model.Contrasenia" />
    <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span>
    <label asp-for="@Model.Tipo"></label>
    <select asp-for="@Model.Tipo" asp-items="Html.GetEnumSelectList<TiposUsuario>()">
        <option value="">Seleccione un estado</option>
    </select>
    <span asp-validation-for="@Model.Tipo" class="text-danger"></span>
    <button type="submit" class="btn btn-success">Agregar</button>
</form>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}