@model ListaUsuariosViewModel
    
<h3>Listado de Usuarios</h3>
<table class="tab">
    <thead>
        <tr>
            <th scope="col" class="tab-tit">Id</th>
            <th scope="col" class="tab-tit">Nombre</th>
            <th scope="col" class="tab-tit">Tipo</th>
            <th class="tab-tit"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usu in Model.ListaUsuariosVM)
        {
            <tr>
                <th scope="row" class="tab-tit">@usu.Id</th>
                <td class="tab-td">@usu.NombreDeUsuario</td>
                <td class="tab-td">@usu.Tipo</td>
                <td class="tab-btn">
                    <p><a asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-id="@usu.Id">
                        <button type="button" class="btn btn-outline-primary btn-w">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                                <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                            </svg>
                            Editar
                        </button>
                        </a></p>
                    @if(usu.Tipo!=TiposUsuario.Administrador){
                        <p><a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-id="@usu.Id">
                            <button type="button" class="btn btn-outline-danger btn-w">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708"/>
                                </svg>
                                Eliminar
                            </button>
                        </a></p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}