@model UsuarioViewModel

<h3>Modificar Usuario</h3>

<div>
    <p>Usuario: @Model.NombreDeUsuario ?</p>
</div>
<form asp-controller="Usuario" asp-action="ModificarUsuario" class="form-logger">
    <input asp-for="@Model.Id" value="@Model.Id" type="hidden">
    <label asp-for="@Model.NombreDeUsuario"></label>
    <input asp-for="@Model.NombreDeUsuario" value="@Model.NombreDeUsuario" />
    <span asp-validation-for="@Model.NombreDeUsuario" class="text-danger"></span>
    <label asp-for="@Model.Tipo"></label>
    <select asp-for="@Model.Tipo" asp-items="Html.GetEnumSelectList<TiposUsuario>()">
        <option value="">Seleccione un estado</option>
    </select>
    <span asp-validation-for="@Model.Tipo" class="text-danger"></span>
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-controller="Usuario" asp-action="ListarUsuarios" class="btn btn-primary">Cancelar</a>
</form>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}